Flask
python-telegram-bot==20.3
pymongo
gunicorn==21.2.0
requests
dload
pyrogram==1.0.1
tgcrypto
oauth2client
psycopg2-binary
sqlalchemy==1.3.23
tenacity>=6.0.0
python-magic
wget
httplib2
pySmartDL
psutil
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
